<div class="p-3">
    <h4 class="text-muted font-18 m-b-5 text-center">Welcome</h4>
    <p class="text-muted text-center">Manage Role Leave Request.</p>

    <div class="container-fluid mt-5">
        <table id="myTable" class="table table-striped table-bordered dataTable" style="width:100%">
            <thead class="thead-light">
                <tr role="row">
                    <th>No</th>
                    <th>NIK</th>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>BirthDate</th>
                    <th>Gender</th>
                    <th>Position</th>
                    <th>Address</th>
                    <th>PhoneNumber</th>
                    <th>Email</th>
                    <th>RoleId</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>No</th>
                    <th>NIK</th>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>BirthDate</th>
                    <th>Gender</th>
                    <th>Position</th>
                    <th>Address</th>
                    <th>PhoneNumber</th>
                    <th>Email</th>
                    <th>RoleId</th>
                    <th>Action</th>
                </tr>
            </tfoot>
            <tbody></tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Update Role</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="formrole">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="id" class="col-form-label">NIK:</label>
                                <input type="text" class="form-control" id="nik" name="nik">
                            </div>
                            <div class="form-group">
                                <label for="name" class="col-form-label">First Name:</label>
                                <input type="date" class="form-control" id="firstName" name="firstName">
                            </div>
                            <div class="form-group">
                                <label for="name" class="col-form-label">Last Name:</label>
                                <input type="text" class="form-control" id="lastName" name="lastName">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="name" class="col-form-label">Email:</label>
                                <input type="date" class="form-control" id="email" name="email">
                            </div>
                            <div class="form-group">
                                <label for="name" class="col-form-label">Role Id:</label>
                                <input type="date" class="form-control" id="roleId" name="roleId">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="buttonsubmit">Submit</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
            var table = null;
            $(document).ready(function () {
                table = $("#myTable").DataTable({
                    "filter": true,
                    "orderMulti": false,
                    "ajax": {
                        "url": "https://localhost:44330/api/user",
                        "type": "get",
                        "datatype": "json",
                        "dataSrc": "data"
                    },
                    "columnDefs": [
                        {
                            "targets": [4, 7, 8],
                            "visible": false,

                        },
                        {
                            "targets": [0, 2],
                            "searchable": true
                        },
                        {
                            "targets": [3],
                            "searchable": false,
                            "orderable": false
                        },
                    ],
                    "columns": [
                        {
                            "data": null,
                            "render": function (data, type, row, meta) {
                                return meta.row + meta.settings._iDisplayStart + 1;
                            }
                        },
                        {
                            "data": 'nik'
                        },
                        {
                            "data": 'firstName'
                        },
                        {
                            "data": 'lastName'
                        },
                        {
                            "data": 'birthDate'
                        },
                        {
                            "data": 'gender'
                        },
                        {
                            "data": 'position'
                        },
                        {
                            "data": 'address'
                        },
                        {
                            "data": 'phoneNumber'
                        },
                        {
                            "data": 'email'
                        },
                        {
                            "data": 'roleId'
                        },
                        {
                            "data": 'id',
                            "render": function (data, type, row, meta) {
                                return '<a href="javascript:void(0)" class="far fa-check-circle table-action text-dark" data-toggle="tooltip" data-placement="top" title="Approve" onclick="Get(\'' + row['id'] + '\')"></a> ' +
                                    '<a href="javascript:void(0)" class="far fa-times-circle table-action text-danger" data-toggle="tooltip" data-placement="top" title="Reject" onclick="Reject(\'' + row['id'] + '\')"></a>'
                            }
                        }
                    ]
                });
            });

            function Get(id) {
                console.log(id);
                $.ajax({
                    url: "/Admin/Get",
                    data: { id: id }
                }).done((result) => {
                    console.log(result);
                    var obj = JSON.parse(result);
                    $("#addModal").modal("show");
                    $("#nik").val(obj.data.nik);
                    $("#firstName").val(obj.data.firstName);
                    $("#lastName").val(obj.data.lastName);
                    $("#email").val(obj.data.email);
                    $("#roleId").val(obj.data.roleId);
                }).fail((error) => {
                    console.log(error);
                })
            }

            function Update(nik) {
                var user = new Object();
                user.nik = $('#nik').val();
                user.firstName = $('#firstName').val();
                user.lastName = $('#lastName').val();
                user.email = $('#email').val();
                user.roleId = $('#roleId').val();
                $.ajax({
                    type: "PUT",
                    url: '/admin/Update',
                    data: user
                }).done((result) => {
                    if (result == 200) {
                        swal('Success', 'Update Successfully', 'success');
                        $('#addModal').modal('hide');
                        $("#nik").val(obj.data.nik);
                        $("#firstName").val(obj.data.firstName);
                        $("#lastName").val(obj.data.lastName);
                        $("#email").val(obj.data.email);
                        $("#roleId").val(obj.data.roleId);
                        table.ajax.reload();
                    }
                    else {
                        swal('Error', 'Something Went Wrong', 'error');
                    }
                }).fail((error) => {
                    console.log(error)
                });
            }
    </script>
}
